table#rta {
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Agenda-Light, sans-serif;
  font-weight: 100;
  background: #333;
  color: #fff;
  text-rendering: optimizeLegibility;
  border-radius: 5px;
}

table#rta caption {
  font-size: 2rem;
  color: #444;
  margin: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left, center right;
}

table#rta thead th {
  font-weight: 600;
}

table#rta thead th, table#rta tbody td {
  padding: .8rem;
  font-size: 1.4rem;
}

table#rta tbody td {
  padding: .8rem;
  font-size: 1.4rem;
  color: #444;
  background: #eee;
}

table#rta tbody tr:not(:last-child) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 50px) {
  table#rta caption {
    background-image: none;

  }

  table#rta thead {
    display: none;

  }

  table#rta tbody td {
    display: block;
    padding: .6rem;

  }

  table#rta tbody tr td:first-child {
    background: #666;
    color: #fff;

  }

  table#rta tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 6rem;

  }
}
