{% extends "header.html" %}

{% block body %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!--<script type="text/javascript" src="{{ url_for('static', filename = 'js/rta.js') }}"></script>-->
<!--<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>-->
<!--<script type="text/javascript" src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>-->

<font color="Beige">
	<h3>Gestão dos dispositivos</h3>
</font>

{% if devs %}
<br>
<link rel="stylesheet" type="text/css" href="/static/css/rtaTable.css">
<div style="overflow:auto;">
  <table id="rta">
    <caption>
      <font color="Ivory">
        <h3></h3>
      </font>
    </caption>
    <thead>
      <tr>
        <th>
          <center>ID</center>
        </th>
        <th>
          <center>Hostname</center>
        </th>
        <th>
          <center>IP</center>
        </th>
        <th>
          <center>Port</center>
        </th>
        <th>
          <center>Descrição</center>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for dict in devs%}
      <tr>
        <td>{{dict['id']}}</td>
        <td>{{dict['hostname']}}</td>
        <td>{{dict['ip']}}</td>
        <td>
          <center>{{dict['port']}}</center>
        </td>
        <td>
          <center>{{dict['desc']}}</center>
        </td>
        <td>
          <form action="/dev/del/{{dict['id']}}" method="post"><button class='btn btn-default' type="submit" formmethod="post">Remover</button></form>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
