{% extends "header.html" %}

{% block body %}
<font color="Beige"><h3>Wake on LAN Agendados</h3></font>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/rta.js') }}"></script>
<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script type="text/javascript" src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>



{% if sched %}
<br>
<link rel="stylesheet" type="text/css" href="/static/css/rtaTable.css">
<div class="container-fluid" align="center" style="overflow-x:auto;">
<table id="rta">
<caption><font color="Ivory"><h3></h3></font></caption>
<thead>
<tr><th><center>Hostname</center><th><center>IP</center><th><center>Script ID</center><th><center>Sched ID</center><th><center>Data</center><th>
<tbody>
{% for dict in sched %}
<tr>
  <td><center>{{dict['hostname']}}</center>
  <td><center>{{dict['ip']}}</center>
  <td><center>{{dict['id_script']}}</center>
  <td><center>{{dict['id_sched']}}</center>
  <td><center>{{dict['data']}}</center>
  <td><form action="/sched/cancel?action=sched_cancel&host={{dict['hostname']}}&ip={{dict['ip']}}&id_script={{dict['id_script']}}&id_sched={{dict['id_sched']}}&data={{dict['data']}}&port={{dict['port']}}" method="post"><button class='btn btn-default' type="submit">Cancelar</button></form>
<tr>
  {%endfor%}
</table>
</div>
{% endif %}


{% if action %}
<link rel="stylesheet" type="text/css" href="/static/css/modal.css">
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
<div id="id01" class="modal" style="display:block;">
  <!-- Modal content -->
  <div class="modal-content">
<!--    <span class="close">&times;</span>-->
    <form action="/sched/cancel?action=login&host={{action[0]}}&ip={{action[1]}}&id_script={{action[2]}}&id_sched={{action[3]}}&data={{action[4]}}&port={{action[5]}}" method="POST">

            <div class="app-title">
<h1><font color="#000">Login</font></h1><br>
            </div>
        <br><br>
            <div class="login-form">
							<input type="text" value="{{request.form.hostname }}" placeholder="{{action[0]}}" name="hostname" disabled>
							<input type="text" value="{{request.form.ip }}" placeholder="{{action[1]}}:{{action[5]}}" name="ip" disabled>
                            <input type="text" value="{{request.form.data }}" placeholder="{{action[4]}}" name="data" disabled>
                            <input type="text" value="{{request.form.id_script }}" placeholder="Script ID: {{action[2]}}" name="id_script" disabled>
              <input type="text" value="{{request.form.id_sched }}" placeholder="Scheduler ID: {{action[3]}}" name="id_sched" disabled>
				<input type="text" value="{{request.form.username }}" placeholder="username" name="username">
				<input type="password" value="{{request.form.password }}" placeholder="password" name="password">
<input type="submit" value="Cancelar Agendamento" class="btn btn-primary btn-large btn-block ">
      </div>
</form>

  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/modal.js') }}"></script>
{% endif %}


{% endblock %}