{% extends "header.html" %}

{% block body %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
	<font color="Crimson"> <h3>{{ message }}</h3></font>
		{% endfor %}
	{% endif %}
{% endwith %}

<font color="Beige">
	<h3>Tabela MAC</h3>
</font>

{% if devs %}
<br>
<link rel="stylesheet" type="text/css" href="/static/css/rtaTable.css">
<div class="container-fluid" align="center" style="overflow-x:auto;">
<table id="rta">
<caption><font color="Ivory"><h3></h3></font></caption>
<thead>
<tr><th><center>ID</center><th><center>Hostname</center><th><center>IP</center><th><center>Port</center><th><center>Descrição</center><th><th>
<tbody>
{% for dict in devs%}
<tr>
  <td><center>{{dict['id']}}</center>
  <td><center>{{dict['hostname']}}</center>
  <td>{{dict['ip']}}
  <td><center>{{dict['port']}}</center>
  <td><center>{{dict['desc']}}</center>
  <td><form action="/table/mac?action=view&type=mac&host={{dict['hostname']}}&ip={{dict['ip']}}" method="post"><button class='btn btn-default' type="submit">View</button></form>
  <td><form action="/table/mac?action=get&type=mac&host={{dict['hostname']}}&ip={{dict['ip']}}&port={{dict['port']}}" method="post"><button class='btn btn-default' type="submit">Get</button></form>
<tr>
  {%endfor%}
</table>
</div>
{% endif %}

{% if mac %}
<link rel="stylesheet" type="text/css" href="/static/css/modal.css">
<div id="id01" class="modal" style="display:block;">

  <!-- Modal content -->
  <div class="modal-content">
<!--    <span class="close">&times;</span>-->
      {% for line in mac %}
    <p><font color="#4ada45">{{line}}</font></p>
      {%endfor%}
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/modal.js') }}"></script>
{% endif %}

{% if action %}
<link rel="stylesheet" type="text/css" href="/static/css/rtaTable.css">
<link rel="stylesheet" type="text/css" href="/static/css/modal.css">
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
<div id="id01" class="modal" style="display:block;">
  <!-- Modal content -->
  <div class="modal-content">
<!--    <span class="close">&times;</span>-->
    <form action="/table/mac?action=login&type=mac&host={{action[0]}}&ip={{action[1]}}&port={{action[2]}}" method="POST">

            <div class="app-title">
<h1><font color="#000">Login</font></h1><br>
            </div>
						<br>
            <div class="login-form">
							<input type="text" value="{{request.form.hostname }}" placeholder="{{action[0]}}" name="hostname" disabled>
							<input type="text" value="{{request.form.ip_port }}" placeholder="{{action[1]}}:{{action[2]}}" name="ip_port" disabled>
				<input type="text" value="{{request.form.username }}" placeholder="username" name="username">
				<input type="password" value="{{request.form.password }}" placeholder="password" name="password">
<input type="submit" value="MAC Get" class="btn btn-primary btn-large btn-block ">
      </div>
</form>

  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/modal.js') }}"></script>
{% endif %}

{% endblock %}
